################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.ntvs_analysis.dat
/WazeCrosstimeJs.njsproj
